Desafío 1: Prepare el ambiente de trabajo
Importe las librerías básicas para el análisis de datos.
Importe el módulo linear_model , y las funciones mean_squared_error , r2_score y
train_test_split .
Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .
Obtenga las medidas descriptivas de la base de datos con .describe() .

In [18]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv("boston.csv", encoding = "ISO-8859-3", index_col=[0])

In [20]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [21]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

Desafío 2: División de la muestra
Genere conjuntos de entrenamiento y validación con train_test_split .
Genere segmentaciones del 33% para las muestras de validación.
Incluya una semilla pseudoaleatoria

In [22]:
y_vec= df.loc[:,'medv'] 
x_mat = df.loc[:,'crim': 'lstat']

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x_mat, y_vec, test_size=33, random_state=123)

Desafío 3: Generación de modelos
Ahora implementaremos dos versiones del modelo lineal:
Con intercepto y atributos normalizados.
Sin intercepto y atributos no normalizados.
Cada versión debe generarse en un nuevo objeto inicializado.
Posteriormente se deben entrenar los modelos especificando la matriz y vector de
entrenamiento.
Con los modelos entrenados, genere una predicción de matriz de validación.

In [24]:
model_1 = linear_model.LinearRegression(fit_intercept=True, normalize=True)
model_2 = linear_model.LinearRegression(fit_intercept=False, normalize=False)

In [25]:
model_1.fit(x_train, y_train)
model_2.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [26]:
pred_mod_1 = model_1.predict(x_test)
pred_mod_2 = model_2.predict(x_test)

Desafío 4: Obtención de métricas
Ahora generemos una función llamada report_scores que ingrese como argumentos el
vector de datos predichos y el vector de datos por validar.
La función debe imprimir las métricas del Error Cuadrático Promedio y R2.
Reporte las métricas para ambos modelos. En base a ello, seleccione el mejor modelo.

In [27]:
def report_scores(pred, y):
    m1_mse = mean_squared_error(y, pred).round(1)
    m1_r2 = r2_score(y, pred).round(2)
    
    print("Mean Squared Error: {}".format(m1_mse))
    print("R Squared: {}".format(m1_r2))
    
print("Model1") 
report_scores(pred_mod_1, y_test)
print("Model2") 
report_scores(pred_mod_2, y_test)

Model1
Mean Squared Error: 48.9
R Squared: 0.61
Model2
Mean Squared Error: 57.2
R Squared: 0.54

Es mejor el model1

Desafío 5: Refactorización del modelo
Genere una función llamada fetch_features que ingrese como argumentos la base de
datos y el nombre del vector objetivo. El nombre del vector debe ser medv por defecto
La función debe retornar una lista con las correlaciones entre cada atributo y el vector objetivo
y su nombre.
Reporte brevemente cuales los 6 atributos con una mayor correlación con medv

In [28]:
def fetch_features(df, name_y):
    name_x=[]
    corr=[]
    
    for i in df.columns:
        if not i == name_y:
            name_x.append(i)
            corr.append(df[name_y].corr(df[i]))
   
    return pd.DataFrame({
        "name": name_x,
        "cors": corr,
        "abs_cors": np.fabs(corr)
    })

In [29]:
fetch_features(df, "medv").sort_values("abs_cors", ascending=False)

       name      cors  abs_cors
12    lstat -0.737663  0.737663
5        rm  0.695360  0.695360
10  ptratio -0.507787  0.507787
2     indus -0.483725  0.483725
9       tax -0.468536  0.468536
4       nox -0.427321  0.427321
0      crim -0.388305  0.388305
8       rad -0.381626  0.381626
6       age -0.376955  0.376955
1        zn  0.360445  0.360445
11    black  0.333461  0.333461
7       dis  0.249929  0.249929
3      chas  0.175260  0.175260

Desafío 6: Refactorización del modelo predictivo
Genere otros conjuntos de entrenamiento y validación en base a una matriz con los 6 atributos
identificados y el vector objetivo.
Entrene un modelo en base al mejor desempeño.
Reporte las métricas para el nuevo modelo.

In [53]:
y_vec = df.loc[:,'medv'] 
x_mat_2 = df.loc[:,['crim', 'lstat', "rm", "ptratio", "indus", "tax", "nox"]]
x_train2, x_test2, y_train2, y_test2 = train_test_split(x_mat_2, y_vec, test_size=33, random_state=123)

In [54]:
model_1_2 = linear_model.LinearRegression(fit_intercept=True, normalize=True)
model_2_2 = linear_model.LinearRegression(fit_intercept=False, normalize=False)

In [55]:
model_1_2.fit(x_train2, y_train2)
model_2_2.fit(x_train2, y_train2)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [56]:
pred_mod_1_2 = model_1_2.predict(x_test2)
pred_mod_2_2 = model_2_2.predict(x_test2)

In [57]:
report_scores(pred_mod_1_2, y_test)
report_scores(pred_mod_2_2, y_test)

Mean Squared Error: 67.5
R Squared: 0.46
Mean Squared Error: 70.8
R Squared: 0.44